.audio-player .audio-info {
	display: flex;
	padding: 1rem;
	column-gap: 1rem;
	align-items: center;
	height: 35vh;
}

.audio-player .audio-avatar {
	position: relative;
	height: 100%;
	aspect-ratio: 1 / 1;
}

.audio-player .audio-avatar img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--border-radius);
}

.audio-player .audio-info .audio-text {
	text-align: start;
	font-size: 1.5rem;
}

.audio-player input[type="range"] {
	width: -webkit-fill-available;
}

.audio-player .audio-controls {
	display: flex;
	flex-direction: column;
}

.audio-player .audio-nav-buttons-and-volume {
	display: flex;
	justify-content: center;
	column-gap: 2rem;
}

.audio-player .audio-timebar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1rem;
}

.audio-player .audio-controls .audio-volume {
	display: flex;
	align-items: center;
	column-gap: 1rem;
}

.audio-player .audio-table td {
	font-size: 1.2rem;
}

.audio-player .audio-table tr {
	cursor: pointer;
}

.audio-player .audio-table .audio-cover {
	position: relative;
	width: 150%;
	padding-top: 150%;
}

.audio-player .audio-table img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}