{
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSameLine": false,
	"endOfLine": "lf",
	"printWidth": 100
}
