:root {
	--navbar-height: 3.5rem;
}

a {
	display: flex;
	align-items: center;
}

.navbar.component {
	height: var(--navbar-height);
}

@media (min-width: 769px) {

	.nav-item>*:hover {
		border-top: 3px solid whitesmoke;
		padding-top: 4px;
	}

	.nav-item>*:active {
		border-top: 3px solid white;
		padding-top: 4px;
	}

	.nav-button.btn {
		border: 1px solid gray;
		background-color: #212529;
	}

	.nav-button.btn:hover {
		border: 1px solid white;
		background-color: #171717;
		color: white;
	}

	.nav-button.btn:active {
		border: 1px solid rgb(179, 179, 184);
	}
}

@media (max-width: 768px) {
	nav {
		position: fixed !important;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
	}

	body {
		margin-top: var(--navbar-height);
	}

	.nav-button.btn {
		border: none;
		background-color: transparent;
	}

	.nav-button.btn:hover {
		border: none;
		background-color: transparent;
	}

	.nav-button.btn:active {
		border: 0px;
	}

	.navbar-collapse button {
		width: 100%;
		text-align: left;
		padding: 0 0 0 16px;
	}

	.navbar {
		border-bottom: 1px solid darkgray;
	}
}