* {
	color: white !important;
}

a {
	display: flex;
	align-items: center;
}

i {
	color: gray;
}

@media (min-width: 769px) {
	li.nav-item>*:hover {
		border-top: 3px solid whitesmoke;
		padding-top: 4px;
	}

	li.nav-item>*:active {
		border-top: 3px solid white;
		padding-top: 4px;
	}

	button.btn {
		border: 1px solid gray;
		background-color: #212529;
	}

	button.btn:hover {
		border: 1px solid white;
		background-color: #171717;
	}

	button.btn:active {
		border: 1px solid rgb(179, 179, 184);
	}
}

@media (max-width: 768px) {
	nav {
		position: fixed !important;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
	}

	body {
		margin-top: 70px;
	}

	button.btn {
		border: none;
		background-color: transparent;
	}

	button.btn:hover {
		border: none;
		background-color: transparent;
	}

	button.btn:active {
		border: 0px;
	}

	/* li.nav-item>* {
		padding: 0.375rem 0.75rem
	} */

	.navbar-collapse button {
		width: 100%;
		text-align: left;
		padding: 0 0 0 16px;
	}

	.navbar {
		border-bottom: 1px solid darkgray;
	}
}