.music-player {
	/* max-width: 80%; */
	max-height: 40vh !important;
}

.music-player picture {
	max-height: 30em;
	overflow: hidden;
}

.music-player .music-player-img {
	text-align: right;
	max-width: fit-content;
}

.music-player .music-player-img img {
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 1rem;
	max-height: 10rem;
}

.music-player .music-player-info {
	text-align: left;
}