:root {
	--background-light-color: #f2f2f2;
	--background-dark-color: #171717;
}

body.dark {
	background-color: var(--background-dark-color);
}

body.light {
	background-color: var(--background-light-color);
}

.text-align-center {
	text-align: center !important;
}

.text-align-start {
	text-align: start !important;
}