body {
	background-color: #171717;
	/* background: url('images/main-body-background.jpg'); */
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
}

.text-white {
	color: white !important;
}